/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-family: Verdana;
}

ol
{
	font-family: 'Book Antiqua';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: sans-serif;
	font-size: 10pt;
}

li
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	mc-hyphenate: never;
	font-family: Verdana;
	mc-disabled: false;
}

td
{
	vertical-align: top;
	font-family: sans-serif;
	font-size: 10pt;
}

p.Header
{
	font-family: Verdana;
	font-size: 9pt;
}

span.PageNumber
{
	font-weight: bold;
	font-size: 11pt;
}

p.Footer
{
	font-family: Verdana;
	font-size: 9pt;
	margin-top: 6pt;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
}

h2.Heading2
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 18pt;
	mc-heading-level: 2;
	font-family: Verdana;
	font-weight: bold;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-color: #000080;
	border-bottom: none;
	border-top-color: #00008b;
	border-top: solid 2px;
	font-size: 12pt;
	border-bottom-width: 2px;
	border-top-width: 3px;
	page-break-before: always;
}

p.BodyText
{
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-family: sans-serif;
	font-size: 10pt;
	margin-left: 5pt;
}

li.ListBullet
{
	margin-top: 6pt;
	font-size: 10pt;
	font-family: Verdana;
	list-style-type: disc;
	margin-left: 1.5pt;
}

table.TableGrid1
{
	border-collapse: collapse;
	margin-left: 0pt;
	font-family: sans-serif;
	mc-disabled: true;
}

p.TableBody
{
	margin-left: 0pt;
	page-break-after: avoid;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
}

h3.Heading3
{
	page-break-after: avoid;
	margin-bottom: 12pt;
	mc-heading-level: 3;
	font-family: Verdana;
	font-weight: bold;
	font-size: 12pt;
	margin-top: 21pt;
	margin-left: 0;
}

p.BodyTextIndent2
{
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 15pt;
	font-family: Verdana;
}

p.TableHeading
{
	page-break-after: avoid;
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 0pt;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bolder;
	border-bottom: none 1px #696969;
	border-right: none 1px #696969;
	border-bottom-width: 0px;
	border-right-width: 0px;
}

li.Note
{
	margin-right: 36pt;
	font-family: Verdana;
	font-size: 10pt;
	background-color: #e5efff;
	border-bottom-width: 2pt;
	padding-bottom: 15px;
	padding-top: 15px;
	display: list-item;
	border: none 0pt;
	border-bottom: solid 2pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #696969;
	border-bottom-color: #696969;
	margin-bottom: 6pt;
	margin-top: 6pt;
	list-style-image: none;
	padding: 5px;
	list-style-position: outside;
	list-style-type: square;
	list-style: note;
}

h4.Heading4
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 6pt;
	mc-heading-level: 4;
	font-family: Verdana;
	font-weight: bold;
	margin-left: 0pt;
	font-size: 11pt;
	font-style: normal;
}

span.Input
{
	font-weight: bold;
	font-size: 10pt;
	color: #191970;
	font-family: Verdana;
}

li.ListBullet2
{
	margin-top: 6pt;
	font-size: 10pt;
	margin-bottom: 6pt;
	font-family: Verdana;
	margin-left: 6pt;
}

p.Input
{
	font-weight: bold;
	letter-spacing: 0pt;
	font-size: 10pt;
	font-family: Verdana;
}

li.ListBullet3
{
	margin-top: 6pt;
	font-size: 10pt;
	margin-bottom: 6pt;
	margin-left: 24pt;
	font-family: Verdana;
}

p.ListContinue3
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	letter-spacing: 1pt;
	font-family: Verdana;
	font-size: 10pt;
	margin-left: 35pt;
}

p.BodyTextIndent3
{
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Verdana;
	margin-left: 35pt;
	margin-top: 6pt;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.Important
{
	page-break-inside: avoid;
	margin-bottom: 12pt;
	margin-left: 22pt;
	margin-right: 22pt;
	font-family: Verdana;
	font-size: 10pt;
	margin-top: 22pt;
	margin: 12pt;
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

li.ListNumber3
{
	font-size: 10pt;
	margin-bottom: 6pt;
	font-family: Verdana;
	margin-left: 20px;
	margin-top: 0pt;
}

li.ListBullet4
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Verdana;
	margin-left: 48pt;
}

p.TextBox
{
	font-family: Verdana;
	font-size: 9pt;
	margin: 0;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
}

li.ListNumber2
{
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 4pt;
	font-family: Verdana;
}

p.Caption
{
	margin-top: 6pt;
	margin-bottom: 12pt;
	margin-left: 0pt;
	font-family: Verdana;
	font-size: 9pt;
	text-align: center;
	margin-right: 0pt;
}

span.AccentFont
{
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	mc-disabled: true;
}

p.MenuPath
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 7pt;
	margin-right: 7pt;
	font-family: 'Courier New';
	font-size: 9pt;
	mc-disabled: true;
}

span.FieldName
{
	color: #000080;
	font-size: 10pt;
	font-family: Verdana;
}

p.ListContinue2
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: sans-serif;
	font-size: 10pt;
	margin-left: 76pt;
}

table.TableGrid
{
	border-collapse: collapse;
	margin-left: 0pt;
	font-family: sans-serif;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: ;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: ;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: ;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: ;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	mc-disabled: true;
}

p.Display
{
	font-weight: bold;
	font-size: 12pt;
	mc-disabled: true;
}

h5.Heading5
{
	margin-top: 12pt;
	mc-heading-level: 5;
	font-family: Verdana;
	font-weight: bold;
	margin-left: 0;
	margin-bottom: 6pt;
	font-size: 10pt;
	color: #ffffff;
	background-color: #ff8c00;
}

p.Picture
{
	font-size: 11pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 0pt;
	text-align: center;
	font-family: 'Book Antiqua';
}

h6.Heading6
{
	margin-top: 12pt;
	mc-heading-level: 6;
	font-family: Verdana;
	font-weight: bold;
	margin-bottom: 6pt;
	font-size: 10pt;
}

li.ListBullet1
{
	font-family: Verdana;
	font-size: 10pt;
	margin-left: 3pt;
}

p.EmptyLine
{
	font-size: 11pt;
	margin-left: 25pt;
	margin-bottom: 0pt;
	font-family: 'Book Antiqua';
}

p.BodyTextIndent5
{
	margin-bottom: 6pt;
	margin-left: 90pt;
	font-size: 10pt;
	font-family: sans-serif;
	mc-disabled: true;
}

p.BodyTextIndent4
{
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 10pt;
	margin-left: 50pt;
	font-family: Verdana;
	mc-disabled: true;
}

span.KeypadChar
{
	font-size: 11pt;
}

p.TableText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Verdana;
	font-size: 9pt;
	mc-disabled: true;
}

li.ListNumber
{
	margin-top: 6pt;
	font-size: 10pt;
	margin-bottom: 6pt;
	font-family: Verdana;
	margin-left: 2pt;
}

h5.Input
{
	font-weight: bold;
	letter-spacing: 0pt;
	font-size: 10pt;
	mc-disabled: true;
}

p.ListContinue
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 54pt;
	letter-spacing: 1pt;
	font-family: sans-serif;
	font-size: 10pt;
}

p.ListBullet
{
	margin-top: 6pt;
	margin-left: 54pt;
	letter-spacing: 1pt;
	font-family: Verdana;
	font-size: 10pt;
	mc-disabled: true;
}

li.Note2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-right: 36pt;
	font-family: Verdana;
	font-size: 10pt;
	margin-left: 25pt;
	padding: 5px;
	background-color: #e5efff;
}

p.ListNumber4
{
	margin-top: 6pt;
	font-family: Verdana;
	font-size: 10pt;
	mc-disabled: true;
}

p.Chapt_Number
{
	page-break-after: avoid;
	margin-top: 24pt;
	margin-bottom: 44pt;
	margin-left: 22pt;
	font-weight: bold;
	font-family: Verdana;
	border-left-style: none;
	border-left-width: 0pt;
	font-size: 9pt;
	mc-heading-level: 0;
}

h1.Heading1
{
	page-break-after: avoid;
	margin-top: 24pt;
	margin-bottom: 44pt;
	margin-left: 22pt;
	mc-heading-level: 1;
	font-family: Verdana;
	font-weight: bold;
	border-left-style: none;
	border-left-width: 0pt;
	font-size: 12pt;
}

p.Introtext
{
	font-size: 11pt;
	margin-top: 60pt;
	margin-bottom: 24pt;
	margin-left: 54pt;
	margin-right: 36pt;
	font-family: Verdana;
}

p.TOC1
{
	margin-bottom: 2pt;
	margin-left: 54pt;
	margin-right: 36pt;
	font-family: Verdana;
	font-size: 11pt;
}

p.TOC2
{
	margin-bottom: 2pt;
	margin-right: 36pt;
	font-size: 10pt;
	margin-left: 72pt;
	font-family: Verdana;
}

li.ListArrow
{
	margin-left: 36pt;
	margin-top: 6pt;
	font-family: sans-serif;
	font-size: 10pt;
	mc-disabled: true;
}

span.HeadingReference
{
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}

p.HeadingCentered
{
	margin-bottom: 6pt;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16pt;
}

p.Chap_TOC
{
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	margin-left: 54pt;
	margin-right: 36pt;
	font-family: Verdana;
}

body
{
	font-family: Verdana;
	font-size: 10pt;
	border: none;
}

h1
{
	font-size: 12pt;
	font-weight: bold;
	mc-hyphenate: never;
	border-style: none;
	border-top: solid 2pt #4169e1;
	font-family: Verdana;
	margin-bottom: 12pt;
	mc-disabled: false;
	page-break-before: avoid;
}

h2
{
	font-size: 12pt;
	font-weight: bold;
	mc-hyphenate: never;
	mc-disabled: false;
}

h4
{
	mc-heading-level: 0;
	font-family: Verdana;
	mc-disabled: false;
}

h5
{
	mc-heading-level: 0;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 6pt;
	font-family: Verdana;
	font-size: 11pt;
	margin-top: 12pt;
	mc-disabled: false;
}

h6
{
	mc-heading-level: 0;
	mc-disabled: false;
}

table
{
	font-family: sans-serif;
	mc-disabled: false;
}

th
{
	font-size: 10pt;
	text-align: left;
	font-family: Verdana;
	background-color: #e5eff9;
	padding: 5px;
	border: solid 2px #696969;
}

tbody
{
	font-family: Verdana;
	font-size: 10pt;
}

thead
{
	font-family: sans-serif;
	font-size: 10pt;
}

MadCap|xref.BookmarkText
{
	mc-format: '{paratext} on page {page}';
}

span.mc-variable.Chapter_number
{
	font-family: Verdana;
	font-size: 12pt;
}

span.ChapterNumber
{
	font-size: 12pt;
	font: Verdana;
	font-family: Verdana;
}

span.mc-variable.Chapter_Title
{
	font-family: Verdana;
	font-size: 12pt;
}

@media print
{
	h1
	{
		font-size: 12pt;
		font-family: Verdana;
		margin-top: 2em;
		margin-bottom: 1em;
	}

	h2
	{
		border-bottom: solid 2px;
		margin-top: 2em;
	}

	h3
	{
		background-color: #e5efff;
		font-family: Verdana;
		mc-heading-level: 3;
		font-size: 11pt;
		margin-top: 2em;
		margin-bottom: 0.65em;
	}

	h4
	{
		font-weight: bold;
		font-size: 10pt;
		margin-top: 2em;
	}

	h5
	{
		font-size: 10pt;
		font-weight: bold;
	}

	h6
	{
		font-size: 10pt;
		font-weight: bold;
	}

	li.ListBullet
	{
		left: 0px;
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 22pt;
	}

	li.ListBullet1
	{
		left: 0.05px;
		font-family: Verdana;
		margin-left: 28pt;
	}

	li.ListBullet2
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 38pt;
	}

	li.ListBullet3
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 42pt;
	}

	li.ListBullet4
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 18pt;
	}

	li
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 6pt;
	}

	li.ListNumber3
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 40pt;
	}

	span.FieldName
	{
		font-family: Verdana;
	}

	span.PageNumber
	{
		font-size: 9pt;
		font-family: sans-serif;
	}

	li.Note
	{
		list-style-image: none;
		margin-right: 6pt;
		margin-left: 6pt;
		list-style-type: square;
		list-style-position: inside;
		list-style: note;
	}

	p.TOC2
	{
		font-size: 10pt;
		margin-left: 12pt;
		margin-right: 0pt;
	}

	p.TOC3
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 24pt;
	}

	p.TOC4
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.TOC5
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.MiniTOC1
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.MiniTOC2
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.MiniTOC3
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.MiniTOC4
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	h2.Heading2
	{
		border-top-width: 0pt;
		border-top-style: none;
		border-top-color: #fffafa;
		border-bottom-color: #000080;
		margin: 0;
		margin-bottom: 0.75em;
		border-bottom: solid 1px;
		margin-top: 2em;
	}

	MadCap|miniTocProxy
	{
		border-bottom: solid 2px;
		border-bottom-color: #000080;
		border-top-color: #000080;
		border-top-width: 2px;
	}

	span.mc-variable.Chapter_Title
	{
		border-left: solid 2px;
		font-size: 30pt;
		font-family: Verdana;
	}

	span.mc-variable.Chapter_number
	{
		border-left: solid 2px;
	}

	h1.Heading1
	{
		font-size: 30pt;
		border-left-width: 3pt;
		border-left-style: none;
		border-bottom: solid 3px;
		border-left: none 0px;
		border-bottom-color: #000080;
		page-break-before: avoid;
		margin-left: 0pt;
		margin-bottom: 1em;
		margin-top: 2em;
		border-top: none 0pt;
	}

	p.TOC1
	{
		margin: 0;
	}

	p
	{
		mc-hyphenate: never;
		font-family: Verdana;
		font-size: 10pt;
	}

	p.BodyTextIndent2
	{
		font-family: 'Book Antiqua';
		text-transform: none;
		text-decoration: none;
		font-variant: normal;
		font-style: normal;
	}

	p.BodyTextIndent3
	{
		font-family: 'Book Antiqua';
		font-size: 11pt;
	}

	p.BodyText
	{
		font-size: 11pt;
		font-variant: normal;
		font-family: 'Book Antiqua';
	}

	MadCap|pageHeader
	{
		font-family: verdana;
		font-size: 9pt;
	}

	MadCap|pageFooter
	{
		font-family: verdana;
		font-size: 9pt;
	}

	p.TextBox
	{
		margin: 0px;
	}

	p.textboxL
	{
		font-family: verdana;
		margin: 0px;
		font-size: 10pt;
	}

	MadCap|xref.ListOfPageNumber
	{
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		mc-format: 'See {paratext} {pageref}';
	}

	MadCap|indexProxy
	{
		mc-page-number-format: decimal;
		orphans: 3;
		mc-heading-level: 2;
	}

	p.Chapt_Number
	{
		mc-heading-level: 0;
		mc-auto-number-position: inside-tail;
		mc-auto-number-format: '{chapnum}';
		margin-bottom: 22pt;
		border-left-style: none;
		border-left-width: 0pt;
		border-left-color: #ffffff;
		page-break-before: always;
		margin-left: 0pt;
	}

	p.pagebreak
	{
		page-break-after: always;
	}

	p.Footer
	{
		border-top-width: 2pt;
	}

	h6.Heading6
	{
		mc-heading-level: 0;
	}

	h5.Heading5
	{
		mc-heading-level: 0;
	}

	h4.Heading4
	{
		mc-heading-level: 0;
	}

	h1.Title
	{
		mc-heading-level: 0;
		mc-page-number-format: lower-roman;
		mc-page-number-start-value: 0;
		margin-top: 0pt;
		margin-right: 30pt;
		padding-right: 18pt;
		padding-bottom: 0pt;
		border-top: none 2pt #4169e1;
		font-size: 12pt;
		border-top-color: #ffffff;
		border-top-width: 0pt;
		border-left-style: none;
		border-left-width: 0pt;
		page-break-before: always;
	}

	p.title_page_text
	{
		font-family: Verdana;
		font-weight: bold;
		margin-left: 22pt;
		border-left-style: none;
		border-left-width: 0pt;
	}

	div.title_page
	{
		margin-top: 5in;
		margin-left: 0pt;
		border-left-width: 2pt;
		border-left: none 2px #000000;
		padding-left: 0px;
	}

	span.Input
	{
		color: #191970;
		font-family: Verdana;
	}

	li.ListNumber
	{
		font-family: Verdana;
		font-size: 10pt;
		display: list-item;
		margin-left: 22pt;
	}

	li.ListNumber2
	{
		font-family: Verdana;
		font-size: 10pt;
		margin-left: 28pt;
	}

	ul
	{
		font-family: 'Verdana';
		font-size: 01pt;
		margin-left: 0px;
		margin: 0;
	}

	ol
	{
		margin-left: 0pt;
	}

	p.Important
	{
		margin-top: 12pt;
		padding-top: 6px;
	}

	tr
	{
		padding-top: 6px;
		margin-top: 6px;
	}

	p.TOCHeading
	{
		mc-heading-level: 0;
		border-top-color: #ffffff;
		border-top-style: none;
		border-top-width: 0pt;
		border-bottom: solid 2px;
		border-bottom-color: #000080;
	}

	th
	{
		font-family: Verdana;
		font-size: 11pt;
		font-weight: bold;
	}

	MadCap|xref.See_Also
	{
		color: #000080;
		font-weight: bold;
	}

	MadCap|xref.Asdescribed
	{
		font-style: italic;
		font-weight: normal;
		mc-format: '(as described on page {page})';
	}

	MadCap|xref.ParaTextOnly
	{
		font-weight: bold;
	}

	p.HeadingCentered
	{
		page-break-before: always;
		font-size: 18pt;
	}

	MadCap|tocProxy
	{
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
	}

	p.Input
	{
		font-family: Verdana;
	}

	h1.IndexH1
	{
		page-break-before: avoid;
		border-bottom-color: #000080;
		border-bottom-width: 3px;
		border-bottom-style: solid;
	}

	body
	{
		
	}

	span.SansSerif10pt
	{
		font-family: Verdana;
		font-size: 10pt;
	}

	p.BodyTextIndent4
	{
		
	}

	MadCap|xref
	{
		mc-format: '{paratext} {pageref}';
		font-weight: bold;
	}

	h3.Heading3
	{
		font-size: 11pt;
		margin-top: 2em;
		margin-bottom: 0.65em;
	}

	p.TableBodySmall
	{
		font-size: 8pt;
	}

	p.Body1_smallprint
	{
		font-size: 9pt;
	}

	a.Hyperlink
	{
		color: #000000;
		text-decoration: none;
	}

	li.Warning
	{
		list-style-image: url('../Images/caution.gif');
	}

	img.img_resize
	{
		max-width: 80%;
	}

	li.checklist
	{
		margin-left: 18pt;
	}

	h2.Heading2_IQ
	{
		border: none;
		border-top: none 2px;
		border-bottom-width: 0px;
		border-top-color: #ffffff;
		border-bottom: solid 1px;
		border-bottom-color: #000080;
	}
}

MadCap|xref
{
	mc-format: '{b}{paratext} {/b}';
}

p.textboxL
{
	font-size: 10pt;
	margin-right: 6pt;
	margin-left: 6pt;
	padding-top: 3px;
	padding-bottom: 3px;
	border-left-style: none;
	border-left-width: 2pt;
	border-left-color: #ffa500;
	border-right-style: none;
	border-right-width: 2pt;
	border-right-color: #ffa500;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffa500;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ffa500;
	font-family: Verdana;
	margin-bottom: 6pt;
	margin-top: 6pt;
	border-top: solid 1px #ffa500;
	border-bottom: solid 1px #ffa500;
}

p.FooterRightJustify
{
	float: right;
	margin-right: 6px;
	font-family: verdana;
	font-size: 9pt;
	margin: 0.5in;
	margin-top: 0.25in;
}

MadCap|xref.ListOfPageNumber
{
	color: #000080;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: underline;
	mc-format: 'See {b}{paratext}{/b}';
}

p.pagebreak
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-family: sans-serif;
}

h3
{
	mc-hyphenate: never;
	font-family: Verdana;
	font-size: 11pt;
	mc-disabled: false;
}

h1.Title
{
	page-break-after: avoid;
	margin-top: 24pt;
	margin-bottom: 44pt;
	margin-left: 22pt;
	mc-heading-level: 0;
	font-family: Verdana;
	font-weight: bold;
	border-left-style: solid;
	border-left-width: 2pt;
	padding-left: 10px;
	font-size: 14pt;
}

p.IndexHeading
{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font-family: Verdana;
	text-align: left;
	font-size: 11pt;
}

p.Index1
{
	mc-leader-align: right;
	mc-leader-format: 'dot';
}

p.Index2
{
	mc-leader-format: 'dot';
}

p.Index3
{
	mc-leader-format: 'dot';
}

p.Index4
{
	mc-leader-format: 'dot';
}

p.Index5
{
	mc-leader-format: 'dot';
}

p.Index6
{
	mc-leader-format: 'dot';
}

p.Index7
{
	mc-leader-format: 'dot';
}

p.Index8
{
	mc-leader-format: 'dot';
}

p.Index9
{
	mc-leader-format: 'dot';
}

div.title_page
{
	margin-top: 60pt;
	margin-bottom: 0pt;
	border-left: solid 2px #000000;
	padding-left: 10px;
}

div.title_page_title
{
	margin-top: 60pt;
	margin-bottom: 0pt;
}

MadCap|xref.Asdescribed
{
	mc-format: '(as described on page {page})';
}

img.img_resize
{
	
}

MadCap|xref.See_Also
{
	mc-format: 'See also {b}{paratext}{/b} {pageref}';
}

p.TOCHeading
{
	page-break-after: avoid;
	page-break-before: always;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: black;
	margin-top: 12pt;
	margin-bottom: 18pt;
	mc-heading-level: 2;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16pt;
}

thead
{
	display: table-header-group;
}

MadCap|indexProxy
{
	border-top-style: none;
	border-top-width: 0px;
}

h1.IndexH1
{
	page-break-after: avoid;
	margin-top: 24pt;
	margin-bottom: 44pt;
	margin-left: 22pt;
	mc-heading-level: 1;
	font-family: Verdana;
	font-weight: bold;
	border-left-style: none;
	border-left-width: 0pt;
	font-size: 12pt;
}

MadCap|miniTocProxy
{
	padding-bottom: 9pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.TableText10
{
	font-size: 10pt;
	mc-disabled: true;
}

span.TableBodyBoldChar
{
	font-weight: bold;
	mc-disabled: true;
}

p.Navigation
{
	background-color: #4169e1;
	color: #ffffff;
	font-family: Verdana;
	margin-bottom: 6pt;
}

span.Link
{
	text-decoration: underline;
	color: #000080;
	font-family: Verdana;
	font-weight: bold;
}

span.Button
{
	font-weight: bold;
	font-size: 10pt;
	color: #191970;
	font-family: Verdana;
}

p.Body1
{
	margin: 0pt;
	margin-left: 6pt;
	margin-bottom: 6pt;
	font-family: Verdana;
	margin-top: 6pt;
}

div.clearBoth
{
	clear: both;
}

div.wrapperPCKeypad
{
	
}

div.LHC_floatleft
{
	float: left;
	width: 50%;
	background-color: #fdf5e6;
	padding: 5px;
}

div.Keypad_floatright
{
	width: 50%;
	float: right;
	background-color: #fdf5e6;
	padding: 5px;
}

li.Warning
{
	border-top: dashed 2px #ff0000;
	border-bottom: dashed 2px #ff0000;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #faf0e6;
	border-bottom-color: #ff8c00;
	border-top-color: #ff8c00;
	margin-bottom: 6pt;
	padding-right: 3px;
	padding: 3px;
	vertical-align: middle;
	padding-left: 5px;
	background-image: none;
	list-style-type: none;
	background-position: left top;
	list-style-image: url('../Images/Warning.PNG');
	list-style-position: inside;
}

span.checkbox
{
	font-family: Webdings;
}

h2.Heading2_IQ
{
	font-family: Verdana;
	border-top: solid 2px #000000;
	margin-top: 3em;
	page-break-after: avoid;
}

p.IQ_checklist_text
{
	font-family: Verdana;
	margin: 0;
	margin-left: 1em;
}

strong
{
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	mc-disabled: true;
}

@media non-print
{
	MadCap|xref
	{
		mc-format: '{paratext} ';
	}

	MadCap|xref.BookmarkText
	{
		mc-format: '{paratext}';
	}

	MadCap|xref.ListOfPageNumber
	{
		mc-format: 'See {b}{paratext}{/b}';
	}

	MadCap|xref.See_Also
	{
		mc-format: 'See also {b}{paratext}{/b}';
	}

	h5
	{
		background-color: #ff8c00;
		color: #ffffff;
		font-size: 10pt;
	}

	MadCap|xref.Title_Ref
	{
		mc-format: '{title} ';
	}

	h2.Heading2_IQ
	{
		border-top-color: #000080;
	}
}

MadCap|xref.Title_Ref
{
	mc-format: '{title} {pageref}';
}

MadCap|bodyProxy
{
	border: none;
}

div
{
	font-family: Verdana;
	font-size: 10pt;
}

a
{
	mc-disabled: false;
}

a.GlossaryPageTerm
{
	mc-disabled: true;
}

a.MCBreadcrumbsLink
{
	mc-disabled: true;
}

abbr
{
	mc-disabled: true;
}

acronym
{
	mc-disabled: true;
}

address
{
	mc-disabled: true;
}

area
{
	mc-disabled: true;
}

b
{
	mc-disabled: false;
}

big
{
	mc-disabled: true;
}

blockquote
{
	mc-disabled: true;
}

cite
{
	mc-disabled: true;
}

colgroup
{
	mc-disabled: true;
}

dd
{
	mc-disabled: true;
}

del
{
	mc-disabled: true;
}

dir
{
	mc-disabled: true;
}

div.GlossaryPageDefinition
{
	mc-disabled: true;
}

div.GlossaryPageEntry
{
	mc-disabled: true;
}

div.GlossaryPageHeading
{
	mc-disabled: true;
}

div.GlossaryPageTerm
{
	mc-disabled: true;
}

dl
{
	mc-disabled: true;
}

dt
{
	mc-disabled: true;
}

em
{
	mc-disabled: true;
}

fieldset
{
	mc-disabled: true;
}

form
{
	mc-disabled: true;
}

frame
{
	mc-disabled: true;
}

frameset
{
	mc-disabled: true;
}

head
{
	mc-disabled: true;
}

hr
{
	mc-disabled: true;
}

html
{
	mc-disabled: true;
}

html.concept
{
	mc-disabled: true;
}

html.reference
{
	mc-disabled: true;
}

html.task
{
	mc-disabled: true;
}

html.topic
{
	mc-disabled: true;
}

i
{
	mc-disabled: true;
}

ins
{
	mc-disabled: true;
}

kbd
{
	mc-disabled: true;
}

p.Concept
{
	mc-disabled: true;
}

p.ConceptContext
{
	mc-disabled: true;
}

p.ListOf
{
	mc-disabled: true;
}

p.MiniTOC4
{
	mc-disabled: true;
}

p.MiniTOC5
{
	mc-disabled: true;
}

p.MiniTOC6
{
	mc-disabled: true;
}

p.MiniTOC7
{
	mc-disabled: true;
}

p.MiniTOC8
{
	mc-disabled: true;
}

p.MiniTOC9
{
	mc-disabled: true;
}

pre
{
	mc-disabled: true;
}

s
{
	mc-disabled: true;
}

samp
{
	mc-disabled: true;
}

script
{
	mc-disabled: true;
}

select
{
	mc-disabled: true;
}

small
{
	mc-disabled: true;
}

span
{
	mc-disabled: false;
}

span.boolean
{
	mc-disabled: true;
}

span.SansSerif10pt
{
	mc-disabled: true;
}

span.SeeAlsoIndex
{
	mc-disabled: true;
}

span.SeeAlsoIndexTerms
{
	mc-disabled: true;
}

span.SeeIndex
{
	mc-disabled: true;
}

span.SeeIndexTerms
{
	mc-disabled: true;
}

span.state
{
	mc-disabled: true;
}

strike
{
	mc-disabled: true;
}

style
{
	mc-disabled: true;
}

sub
{
	mc-disabled: true;
}

sup
{
	mc-disabled: true;
}

p.title_page_text
{
	padding-left: 10px;
	font-family: Verdana;
}

ol ol
{
	margin-left: 0px;
	margin: 0;
	display: list-item;
}

ul ul
{
	margin-left: 0px;
	margin: 0;
}

ul ol
{
	margin-left: 0px;
	margin: 0;
}

ol ul
{
	margin-left: 0px;
	margin: 0;
	display: list-item;
}

p.TableBodySmall
{
	page-break-after: avoid;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: Verdana;
	color: #000000;
	margin-left: 2pt;
	font-size: 9pt;
}

p.Body1_smallprint
{
	margin: 0pt;
	margin-left: 6pt;
	margin-bottom: 6pt;
	font-family: Verdana;
	font-size: 9pt;
}

p.Tip
{
	font-size: 10pt;
	margin-right: 6pt;
	margin-left: 6pt;
	border-left-style: none;
	border-left-width: 2pt;
	border-left-color: #ffa500;
	border-right-style: none;
	border-right-width: 2pt;
	border-right-color: #ffa500;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffa500;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ffa500;
	font-family: Verdana;
	margin-bottom: 6pt;
	background-image: url('../Images/lightbulb.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 22px;
	padding-bottom: 6px;
	padding-right: 9px;
	padding-top: 6px;
	margin-top: 9pt;
	background-color: #fff8dc;
}

p.Warning
{
	border-top: dashed 2px #ff0000;
	border-bottom: dashed 2px #ff0000;
	background-color: #faf0e6;
	border-bottom-color: #ff8c00;
	border-top-color: #ff8c00;
	margin-bottom: 6pt;
	vertical-align: middle;
	list-style-type: none;
	background-position: left top;
	list-style-image: none;
	background-image: url('../Images/caution.gif');
	background-repeat: no-repeat;
	padding: 0px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 52px;
}

a.Popup
{
	
}

td.tinyText
{
	font-family: Tahoma;
	font-size: 8pt;
}

li.checklist
{
	margin-top: 0pt;
	font-size: 10pt;
	mc-hyphenate: never;
	font-family: Verdana;
	mc-disabled: false;
	list-style-image: url('../Images/checkbox-empty.png');
	list-style-position: outside;
	list-style: checkbox;
	margin-bottom: 6pt;
}

p.NoteBlue
{
	font-family: Verdana;
	font-size: 10pt;
	background-color: #e5efff;
	border-bottom-width: 2pt;
	border: none 0pt;
	border-bottom: solid 2pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #696969;
	border-bottom-color: #696969;
	background-image: none;
	padding-right: 0pt;
	padding-left: 6pt;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 0pt;
	margin-bottom: 12pt;
	margin-left: 6pt;
	margin-right: 6pt;
	margin-top: 12pt;
}

span.Input
{
	font-weight: bold;
	font-size: 10pt;
	color: #191970;
	font-family: Verdana;
}

MadCap|xref
{
	mc-format: '{paratext} ';
}

MadCap|xref.BookmarkText
{
	mc-format: '{paratext}';
}

MadCap|xref.ListOfPageNumber
{
	mc-format: 'See {b}{paratext}{/b}';
}

MadCap|xref.See_Also
{
	mc-format: 'See also {b}{paratext}{/b}';
}

h5
{
	background-color: #ff8c00;
	color: #ffffff;
	font-size: 10pt;
}

MadCap|xref.Title_Ref
{
	mc-format: '{title} ';
}

h2.Heading2_IQ
{
	border-top-color: #000080;
}

